@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Inter:wght@400;900&display=swap');

.name, .description {
    font-family: 'Fuzzy Bubbles', cursive;;
}

body {
    background-image: url(https://img.freepik.com/premium-vector/purple-web-development-background_76964-167.jpg?w=2000);
    background-position: center top;
    background-repeat: no-repeat;
    color: white;
  
   
}

.tam1 {
    font-size: 25px;
}

.tam2 {
    font-size: 22px;
}

.tam3 {
    font-size: 23px;
}

.img {
    border-radius: 55px;
    
}

div {
    text-align: center;
    
}